/* File used by MAKEINI.EXE to create OS2.INI                         */
/* Use the command                                                    */
/*    MAKEINI NEW.INI INI.RC                                          */
/* to create the file NEW.INI. Then use a DOS boot diskette or the    */
/* OS2 Install diskette ESCed to the command line to copy NEW.INI     */
/* over the existing OS2.INI that is to be replaced.                  */
/* Note that if NEW.INI already exists, then it is updated.           */

CODEPAGE 437

STRINGTABLE
BEGIN

  ""
  ""
  ""
  ""
  ""
  ""
  ""
  ""
  ""
  ""

  "PM_ControlPanel"    "BorderWidth"           "4"
  "PM_ControlPanel"    "LogoDisplayTime"       "2000"
  "PM_ASSOC_TYPE"      "Plain Text"            ""
  "PM_ASSOC_TYPE"      "OS/2 Command File"     ""
  "PM_ASSOC_TYPE"      "DOS Command File"      ""
  "PM_ASSOC_TYPE"      "Executable"            ""
  "PM_ASSOC_TYPE"      "Metafile"              ""
  "PM_ASSOC_TYPE"      "PIF file"              ""
  "PM_ASSOC_TYPE"      "Bitmap"                ""
  "PM_ASSOC_TYPE"      "Icon"                  ""
  "PM_ASSOC_TYPE"      "Binary Data"           ""
  "PM_ASSOC_TYPE"      "Dynamic Link Library"  ""
  "PM_ASSOC_TYPE"      "C Code"                ""
  "PM_ASSOC_TYPE"      "Pascal Code"           ""
  "PM_ASSOC_TYPE"      "BASIC Code"            ""
  "PM_ASSOC_TYPE"      "COBOL Code"            ""
  "PM_ASSOC_TYPE"      "FORTRAN Code"          ""
  "PM_ASSOC_TYPE"      "Assembler Code"        ""
  "PM_ASSOC_TYPE"      "Resource File"         ""
  "PM_ASSOC_TYPE"      "Printer-specific"      ""

  "PM_DEVICE_DRIVERS"  "IBMNULL"            "C:\OS2\DLL\IBMNULL\IBMNULL.DRV"
  "PM_Font_Drivers"    "PMATM"              "\OS2\DLL\PMATM.DLL"
  "PM_Font_Drivers"    "TRUETYPE"           "\EMXDLL\TRUETYPE.DLL"
  "PM_Fonts"           "SYSMONO"            "\OS2\DLL\SYSMONO.FON"
  "PM_Fonts"           "COURIER"            "\OS2\DLL\COURIER.FON"
  "PM_Fonts"           "HELV"               "\OS2\DLL\HELV.FON"
  "PM_Fonts"           "TIMES"              "\OS2\DLL\TIMES.FON"
  "PM_Fonts"           "COURIERI"           "\OS2\DLL\COURIERI.FON"
  "PM_Fonts"           "HELVI"              "\OS2\DLL\HELVI.FON"
  "PM_Fonts"           "TIMESI"             "\OS2\DLL\TIMESI.FON"
  "PM_Fonts"           "MARKSYM.OFM"        "\PSFONTS\MARKSYM.OFM"
  "PM_Fonts"           "HELV.OFM"           "\PSFONTS\HELV.OFM"
  "PM_Fonts"           "HELVB.OFM"          "\PSFONTS\HELVB.OFM"
  "PM_Fonts"           "HELVBI.OFM"         "\PSFONTS\HELVBI.OFM"
  "PM_Fonts"           "HELVI.OFM"          "\PSFONTS\HELVI.OFM"
  "PM_Fonts"           "COUR.OFM"           "\PSFONTS\COUR.OFM"
  "PM_Fonts"           "COURB.OFM"          "\PSFONTS\COURB.OFM"
  "PM_Fonts"           "COURBI.OFM"         "\PSFONTS\COURBI.OFM"
  "PM_Fonts"           "COURI.OFM"          "\PSFONTS\COURI.OFM"
  "PM_Fonts"           "SYMB.OFM"           "\PSFONTS\SYMB.OFM"
  "PM_Fonts"           "TNR.OFM"            "\PSFONTS\TNR.OFM"
  "PM_Fonts"           "TNRB.OFM"           "\PSFONTS\TNRB.OFM"
  "PM_Fonts"           "TNRBI.OFM"          "\PSFONTS\TNRBI.OFM"
  "PM_Fonts"           "TNRI.OFM"           "\PSFONTS\TNRI.OFM"

  "PM_SystemFonts"     "WindowTitles"       "9.WarpSans Bold"
  "PM_SystemFonts"     "Menus"              "9.WarpSans Bold"
  "PM_SystemFonts"     "IconText"           "9.WarpSans"
  "PM_SystemFonts"     "WindowText"         "9.WarpSans"
/*
  "PM_Workplace"       "FrameFont"          "9.WarpSans"
  "PM_Workplace"       "FrameTitleFont"     "9.WarpSans Bold"
*/
  "PM_Workplace"       "TabTextFont"        "9.WarpSans"
  "PM_Workplace"       "ToolbarFont"        "9.WarpSans"

  "PM_SystemBackground" "DefaultDesktopBackground" "\os2\bitmap\warpd.bmp,s,1"

  "PM_INFO"            "Version"            "3.0"
  "PM_IMAGECNV"        "IMAGECNVPATH"       "\OS2\IMAGECNV"
  "SYS_DLLS"           "LoadOneTime"        "REXXINIT"
  "SYS_DLLS"           "LoadPerProcess"     "PMCTLS"
  "PM_SPOOLER"         "QUEUE"             "LPT1Q;"
  "PM_SPOOLER"         "PRINTER"           "PRINTER1;"
  /* pm_national temporarily back in */

  "PM_National"  "iCountry"   "34" /* Country code (phone ID of country)*/
  "PM_National"  "iDate"      "1" /* Date mode (0:MDY, 1:DMY, 2:YMD) */
  "PM_National"  "iCurrency"  "2" /* Currency mode 0: prefix, no sep */
                                  /*    1: suffix, no separation     */
                                  /*    2: prefix, 1 CHAR separation */
                                  /*    3: suffix, 1 CHAR separation */
  "PM_National"  "iDigits"       "2" /* Signif Decimal digits in Currency */
  "PM_National"  "iTime"         "1" /* time mode (0=12 hours clock, 1=24)*/
  "PM_National"  "iLzero"        "1"  /* Leading zeros (0: no, 1: yes)   */
  "PM_National"  "s1159"         "AM" /* Trailing string 0:00 to 11:59   */
  "PM_National"  "s2359"         "PM" /* Trailing string 12:00 to 23:59  */
  "PM_National"  "sCurrency"     "$"  /* Currency Symbol string          */
  "PM_National"  "sThousand"     ","  /* Thousands separator string      */
  "PM_National"  "sDecimal"      "."  /* Decimal separator string        */
  "PM_National"  "sDate"         "/"  /* Date separator string           */
  "PM_National"  "sTime"         ":"  /* time separator string           */
  "PM_National"  "sList"         ";"  /* List separator string.          */
  "PM_National"  "iMeasurement"  "2"  /* 1=English, 2=Metric, 3=Points, 4=Picaa */

  "PM_IBMBGA"    "ALTSYSFONT" "0"  /* For 8514 adapter only */
  "PM_IBMBGA"    "FASTSS"     "0"  /* For 8514 adapter only */

  "EPM"          "EPMIniPath" "\OS2\EPM.INI"
/* Change default for Win-OS/2 Setup Object - R206 60555 */
  "WINOS2"       "PM_GlobalWindows31Settings" "DPMI_MEMORY_LIMIT=64;PROGTYPE=PROG_31_STD;KBD_ALTHOME_BYPASS=1;VIDEO_SWITCH_NOTIFICATION=1;VIDEO_8514A_XGA_IOTRAP=0"

/* Use the shields code for maximizing vios by default lwb151369 */
  "Shield"       "fMaximize" "1"

  "PM_Workplace:InstallGroups" "1" "1"

  "PM_InstallObject" "Escritorio;WPDesktop;?:\" "OBJECTID=<WP_DESKTOP>"

  /* remove PMDDE object from workplace */
  "PM_InstallObject" "Deleted;WPProgram;<WP_TOOLS>;DELETE" "OBJECTID=<WP_PMDDE>"
END

STRINGTABLE REPLACEMODE
BEGIN
  "PM_InstallObject" "Nada;WPFolder;?:\"  "OBJECTID=<WP_NOWHERE>"
  "PM_InstallObject" "View;WPProgram;<WP_NOWHERE>;UPDATE" "EXENAME=?:\OS2\VIEW.EXE;ASSOCFILTER=*.INF;NOTVISIBLE=YES;OBJECTID=<WP_VIEWINF>"
  "PM_InstallObject" "Sistema^OS/2;WPFolder;<WP_DESKTOP>" "HELPPANEL=4002;NODELETE=YES;ICONRESOURCE=61 PMWP;ICONNRESOURCE=1,35,PMWP;ICONPOS=8 84;ICONVIEWPOS=18 45 70 38;OBJECTID=<WP_OS2SYS>"
  "PM_InstallObject" "Centro de^Asistencia;WPFolder;<WP_DESKTOP>;UPDATE" "ICONRESOURCE=82 PMWP;ICONNRESOURCE=1,83,PMWP;ICONPOS=8 66;ICONVIEWPOS=10 30 69 50;OBJECTID=<WP_ASSISTANCE>"
  "PM_InstallObject" "Conecciones;WPFolder;<WP_DESKTOP>;UPDATE" "ICONRESOURCE=87 PMWP;ICONPOS=8 50;DEFAULTVIEW=TREE;OBJECTID=<WP_CONNECTIONSFOLDER>"
  "PM_InstallObject" "Programas;WPFolder;<WP_DESKTOP>;UPDATE" "ICONRESOURCE=92 PMWP;ICONPOS=8 34;OBJECTID=<WP_PROGRAMSFOLDER>"
  "PM_InstallObject" "Fax/Modem;WPFolder;<WP_CONNECTIONSFOLDER>" "DEFAULTVIEW=ICON;OBJECTID=<WP_FAXMODEM>"
  "PM_InstallObject" "Impresoras;WPFolder;<WP_CONNECTIONSFOLDER>" "DEFAULTVIEW=ICON;OBJECTID=<WP_PRINTERSFOLDER>"
  "PM_InstallObject" "Unidades;WPDrives;<WP_CONNECTIONSFOLDER>" "NODELETE=YES;DEFAULTVIEW=ICON;OBJECTID=<WP_DRIVES>"
  "PM_InstallObject" ";WPShadow;<WP_OS2SYS>;REPLACE" "SHADOWID=<WP_DRIVES>;OBJECTID=<WP_DRIVESSHADOW>"
  "PM_InstallObject" "Impresora;PDView;<WP_PRINTERSFOLDER>" "Printer;OBJECTID=<WP_PDVIEW>"
  "PM_InstallObject" "Informaci¢n;WPFolder;<WP_ASSISTANCE>;UPDATE" "DEFAULTVIEW=TREE;HELPPANEL=13092;ICONRESOURCE=60 PMWP;OBJECTID=<WP_INFO>"
  "PM_InstallObject" "Utilerias;WPFolder;<WP_PROGRAMSFOLDER>" "HELPPANEL=13090;OBJECTID=<WP_TOOLS>"
  "PM_InstallObject" "Indice^Maestro;WPFolder;<WP_INFO>" "DEFAULTVIEW=ICON;OBJECTID=<WP_INDEXFOLDER>"
  "PM_InstallObject" "Informaci¢n^en Linea;WPFolder;<WP_INFO>" "DEFAULTVIEW=ICON;OBJECTID=<WP_INFOOVERFOLDER>"
  "PM_InstallObject" "Indice;Mindex;<WP_INDEXFOLDER>" "INDEX=HELP;NODELETE=YES;OBJECTID=<WP_MINDEX>"
  "PM_InstallObject" "Glosario;Mindex;<WP_INFOOVERFOLDER>" "INDEX=GLOSSARY;NODELETE=YES;OBJECTID=<WP_GLOSS>"
  "PM_InstallObject" "Configuraci¢n^del sistema;WPFolder;<WP_OS2SYS>" "HELPPANEL=1220;ICONRESOURCE=59 PMWP;ICONNRESOURCE=1,15,PMWP;OBJECTID=<WP_CONFIG>"
  "PM_InstallObject" "Instalar/Remover;WPFolder;<WP_CONFIG>" "ICONRESOURCE=90 PMWP;ICONNRESOURCE=1,91,PMWP;OBJECTID=<WP_INSTREMFOLDER>"
  "PM_InstallObject" "Procesadores^de comandos;WPFolder;<WP_OS2SYS>" "HELPPANEL=8008;ICONRESOURCE=38,PMWP;ICONNRESOURCE=1,37,PMWP;OBJECTID=<WP_PROMPTS>"
  "PM_InstallObject" "Utilerias;WPFolder;<WP_OS2SYS>" "HELPPANEL=13090;OBJECTID=<WP_TOOLS>"
  "PM_InstallObject" "Plantillas;WPTemplates;<WP_DESKTOP>" "HELPPANEL=15680;NODELETE=YES;ICONPOS=8 8;OBJECTID=<WP_TEMPS>"
  "PM_InstallObject" "Visor de^ventanas;WPMinWinViewer;<WP_OS2SYS>" "ALWAYSSORT=YES;OBJECTID=<WP_VIEWER>"
  "PM_InstallObject" "Triturador;WPShredder;<WP_OS2SYS>" "OBJECTID=<WP_SHRED>"
  "PM_InstallObject" "Impresora;PDView;<WP_DESKTOP>" "Impresora;OBJECTID=<WP_PDVIEW>"
  "PM_InstallObject" "Red;WPNetwork;<WP_DESKTOP>" "HELPPANEL=30000;NODELETE=YES;OBJECTID=<WP_NETWORK>"
  "PM_InstallObject" "Unidades;WPDrives;<WP_OS2SYS>" "NODELETE=YES ;OBJECTID=<WP_DRIVES>"
  "PM_InstallObject" "Inicio;WPStartup;<WP_OS2SYS>" "HELPPANEL=8002;NODELETE=YES;OBJECTID=<WP_START>"
  "PM_InstallObject" "Reloj;WPClock;<WP_CONFIG>" "OBJECTID=<WP_CLOCK>"
  "PM_InstallObject" "Teclado;WPKeyboard;<WP_CONFIG>" "OBJECTID=<WP_KEYB>"
  "PM_InstallObject" "Instalaci¢n^Selectiva;WPProgram;<WP_INSTREMFOLDER>;UPDATE" "EXENAME=?:\OS2\INSTALL\INSTALL.EXE;HELPPANEL=12220;OBJECTID=<WP_INST>"
  "PM_InstallObject" "Instalador de^Controladores;WPProgram;<WP_INSTREMFOLDER>;UPDATE" "EXENAME=?:\OS2\INSTALL\DDINSTAL.EXE;HELPPANEL=12221;OBJECTID=<WP_DDINST>"
  "PM_InstallObject" "Desinstalaci¢n^Selectiva;WPProgram;<WP_INSTREMFOLDER>;UPDATE" "EXENAME=?:\OS2\INSTALL\UNINSTAL.EXE;PROGTYPE=PM;HELPPANEL=32162;OBJECTID=<WP_UNINST>"
  "PM_InstallObject" "Rat¢n;WPMouse;<WP_CONFIG>" "OBJECTID=<WP_MOUSE>"
  "PM_InstallObject" "T ctil;WPTouch;<WP_CONFIG>" "OBJECTID=<WP_TOUCH>"
  "PM_InstallObject" "Sistema;WPSystem;<WP_CONFIG>" "HELPPANEL=9259;OBJECTID=<WP_SYSTEM>"
  "PM_InstallObject" "Pa¡s;WPCountry;<WP_CONFIG>" "OBJECTID=<WP_CNTRY>"
  "PM_InstallObject" "Controlador^del spooler;WPSpool;<WP_CONFIG>" "OBJECTID=<WP_SPOOL>"
  "PM_InstallObject" "OS/2^Pantalla Completa;WPProgram;<WP_PROMPTS>" "EXENAME=*;PROGTYPE=FULLSCREEN;HELPPANEL=8009;CCVIEW=YES;PARAMETERS=%;OBJECTID=<WP_OS2FS>"
  "PM_InstallObject" "OS/2^Ventana;WPProgram;<WP_PROMPTS>" "EXENAME=*;PROGTYPE=WINDOWABLEVIO;HELPPANEL=8010;CCVIEW=YES;PARAMETERS=%;OBJECTID=<WP_OS2WIN>"
  "PM_InstallObject" "Editor;WPProgram;<WP_TOOLS>;UPDATE"  "EXENAME=?:\OS2\E.EXE;PROGTYPE=PM;HELPPANEL=9289;ASSOCTYPE=Plain Text,OS/2 Command File,DOS Command File,,;ASSOCFILTER=*.DOC,*.TXT,,;OBJECTID=<WP_SYSED>"
  "PM_InstallObject" "A¤adir^programas;WPProgram;<WP_CONFIG>;UPDATE" "EXENAME=?:\OS2\INSTALL\MIGRATE.EXE;HELPPANEL=4508;OBJECTID=<WP_MIGAPP>"
  "PM_InstallObject" "Diskettes^de utilerias;WPProgram;<WP_CONFIG>;UPDATE" "EXENAME=?:\OS2\INSTALL\BOOTDISK.EXE;PROGTYPE=PM;OBJECTID=<WP_BOOT>"
  "PM_InstallObject" "Sonido;WPSound;<WP_CONFIG>" "OBJECTID=<WP_SOUND>"
END
STRINGTABLE REPLACEMODE OFF
BEGIN
  "PM_InstallObject" "Paleta^de fuentes;WPFontPalette;<WP_CONFIG>" "NODELETE=YES;OBJECTID=<WP_FNTPAL>"
  "PM_InstallObject" "Colores^mixtos;WPColorPalette;<WP_CONFIG>" "NODELETE=YES;AUTOSETUP=HIRES;OBJECTID=<WP_HIRESCLRPAL>"
  "PM_InstallObject" "Colores^s¢lidos;WPColorPalette;<WP_CONFIG>" "NODELETE=YES;AUTOSETUP=LORES;OBJECTID=<WP_LORESCLRPAL>"
  "PM_InstallObject" "Esquemas;WPSchemePalette;<WP_CONFIG>" "NODELETE=YES;AUTOSETUP=YES;OBJECTID=<WP_SCHPAL28>"
  "PM_InstallObject" "ToolBar;WPLaunchPad;<WP_DESKTOP>" "ICONPOS=46 8;OBJECTID=<WP_LAUNCHPAD>"
END
STRINGTABLE REPLACEMODE
BEGIN
  "PM_InstallObject" "Juegos;WPFolder;<WP_PROGRAMSFOLDER>" "ICONRESOURCE=88 PMWP;ICONNRESOURCE=1,89,PMWP;HELPPANEL=13091;OBJECTID=<WP_GAMES>"
  "PM_InstallObject" "Aplicaciones;WPFolder;<WP_PROGRAMSFOLDER>" "OBJECTID=<WP_APPSFOLDER>"
  "PM_InstallObject" "Nuevo^Folder;WPFolder;<WP_PROGRAMSFOLDER>" "TEMPLATE=YES;OBJECTID=<WP_NEWFOLDER>"
  "PM_InstallObject" "Nuevo^Programa;WPProgram;<WP_PROGRAMSFOLDER>" "TEMPLATE=YES;OBJECTID=<WP_NEWPROGRAM>"
  "PM_InstallObject" ";WPPrinter;<WP_PRINTERSFOLDER>" "TEMPLATE=YES;OBJECTID=<WP_NEWPRINTER>"
  "PM_InstallObject" "Referencias y Mandatos;WPFolder;<WP_INFO>;UPDATE" "DEFAULTVIEW=ICON;OBJECTID=<WP_REFCMDFOLDER>"
  "PM_InstallObject" "Referencia de^Mandatos de OS/2;WPProgram;<WP_REFCMDFOLDER>;UPDATE" "EXENAME=?:\OS2\VIEW.EXE;PARAMETERS=CMDREF.INF;HELPPANEL=9301;OBJECTID=<WP_CMDREF>"
  "PM_InstallObject" "Informaci¢n REXX;WPProgram;<WP_REFCMDFOLDER>;UPDATE" "EXENAME=?:\OS2\VIEW.EXE;PARAMETERS=REXX.INF;HELPPANEL=9300;OBJECTID=<WP_REXREF>"
  "PM_InstallObject" "Marcas^Registradas;WPProgram;<WP_REFCMDFOLDER>;UPDATE" "EXENAME=?:\OS2\VIEW.EXE;PARAMETERS=TRADEMBK.INF;OBJECTID=<WP_TRADEMBK>"
  "PM_InstallObject" "Tareas;WPFolder;<WP_INFO>;UPDATE" "DEFAULTVIEW=ICON;OBJECTID=<WP_TASKSINFO>"
  "PM_InstallObject" "Guia para^usuarios de OS/2;WPProgram;<WP_TASKSINFO>;UPDATE" "EXENAME=?:\OS2\VIEW.EXE;PARAMETERS=OS2UG.INF;OBJECTID=<WP_OS2UGBK>"
  "PM_InstallObject" "Multimedia;WPProgram;<WP_TASKSINFO>;UPDATE" "EXENAME=?:\OS2\VIEW.EXE;PARAMETERS=MULTIMBK.INF;OBJECTID=<WP_MULTIMBK>"
  "PM_InstallObject" "Impresi¢n^en OS/2;WPProgram;<WP_TASKSINFO>;UPDATE" "EXENAME=?:\OS2\VIEW.EXE;PARAMETERS=PRINTBK.INF;HELPPANEL=32414;OBJECTID=<WP_PRINTBK>"
  "PM_InstallObject" "Consideraciones^de rendimiento;WPProgram;<WP_TASKSINFO>;UPDATE" "EXENAME=?:\OS2\VIEW.EXE;PARAMETERS=PERFBK.INF;HELPPANEL=32406;OBJECTID=<WP_PERFBK>"
  "PM_InstallObject" "Consideraciones^de aplicaci¢n;WPProgram;<WP_TASKSINFO>;UPDATE" "EXENAME=?:\OS2\VIEW.EXE;PARAMETERS=APPLBK.INF;HELPPANEL=32407;OBJECTID=<WP_APPLBK>"
  "PM_InstallObject" "Windows^en OS/2;WPProgram;<WP_TASKSINFO>;UPDATE" "EXENAME=?:\OS2\VIEW.EXE;PARAMETERS=WINOS2BK.INF;HELPPANEL=32232;OBJECTID=<WP_WINOS2BK>"
  "PM_InstallObject" ";WPPower;<WP_CONFIG>" "OBJECTID=<WP_POWER>"
  "PM_InstallObject" ";WPWinConfig;<WP_CONFIG>" "OBJECTID=<WP_WINCFG>"
  "PM_InstallObject" "DOS^Pantalla Completa;WPProgram;<WP_PROMPTS>" "EXENAME=*;PROGTYPE=VDM;HELPPANEL=8011;CCVIEW=YES;PARAMETERS=%;OBJECTID=<WP_DOSFS>"
  "PM_InstallObject" "DOS^Ventana;WPProgram;<WP_PROMPTS>" "EXENAME=*;PROGTYPE=WINDOWEDVDM;HELPPANEL=8012;CCVIEW=YES;PARAMETERS=%;OBJECTID=<WP_DOSWIN>"
  "PM_InstallObject" "WIN-OS/2^Completa;WPProgram;<WP_PROMPTS>" "EXENAME=*;PROGTYPE=PROG_31_ENH;SET KBD_ALTHOME_BYPASS=1;SET KBD_CTRL_BYPASS=CTRL_ESC;SET VIDEO_SWITCH_NOTIFICATION=1;SET VIDEO_8514A_XGA_IOTRAP=0;SET DPMI_MEMORY_LIMIT=64;SET WIN_DDE=0;SET WIN_CLIPBOARD=0;HELPPANEL=8022;OBJECTID=<WP_WINFS>"
  "PM_InstallObject" "WIN-OS/2^Ventana;WPProgram;<WP_PROMPTS>" "EXENAME=PROGMAN.EXE;PROGTYPE=PROG_31_ENHSEAMLESSCOMMON;SET KBD_ALTHOME_BYPASS=1;SET KBD_CTRL_BYPASS=CTRL_ESC;SET VIDEO_SWITCH_NOTIFICATION=1;SET VIDEO_8514A_XGA_IOTRAP=0;SET DPMI_MEMORY_LIMIT=64;SET WIN_DDE=0;SET WIN_CLIPBOARD=0;HELPPANEL=8022;OBJECTID=<WP_WIN2WIN>"
  "PM_InstallObject" "DOS de la^Unidad A:;WPProgram;<WP_PROMPTS>" "EXENAME=*;PROGTYPE=VDM;SET DOS_STARTUP_DRIVE=A:;HELPPANEL=8529;ICONRESOURCE=47,PMWP;OBJECTID=<WP_DOS_DRV_A>"
  "PM_InstallObject" "Arranque^Dual;WPProgram;<WP_PROMPTS>" "EXENAME=BOOT.COM;PROGTYPE=WINDOWABLEVIO;PARAMETERS=/DOS;HELPPANEL=8029;ICONRESOURCE=49,PMWP;OBJECTID=<WP_DBOOT>"
  "PM_InstallObject" "Editor^ampliado;WPProgram;<WP_TOOLS>;UPDATE"  "EXENAME=?:\OS2\APPS\EPM.EXE;PROGTYPE=PM;HELPPANEL=20278;OBJECTID=<WP_EPM>"
  "PM_InstallObject" "Rastreador^de archivos;WPProgram;<WP_TOOLS>;UPDATE"  "EXENAME=?:\OS2\APPS\PMSEEK.EXE;PROGTYPE=PM;HELPPANEL=20285;OBJECTID=<WP_SEEK>"
  "PM_InstallObject" "Editor^de Iconos;WPProgram;<WP_TOOLS>;UPDATE"  "EXENAME=?:\OS2\ICONEDIT.EXE;PROGTYPE=PM;ASSOCFILTER=*.BMP,*.PTR,*.ICO;HELPPANEL=20279;OBJECTID=<WP_ICON>"
  "PM_InstallObject" "Pulso;WPProgram;<WP_TOOLS>;UPDATE"  "EXENAME=?:\OS2\APPS\PULSE.EXE;PROGTYPE=PM;HELPPANEL=20284;OBJECTID=<WP_PULSE>"
  "PM_InstallObject" "Visor de ^ rea compartida;WPProgram;<WP_TOOLS>;UPDATE" "EXENAME=?:\OS2\CLIPOS2.EXE;PROGTYPE=PM;HELPPANEL=20274;OBJECTID=<WP_CLIPV>"
  "PM_InstallObject" "Visor^de im genes;WPProgram;<WP_TOOLS>;UPDATE" "EXENAME=?:\OS2\APPS\PICVIEW.EXE;PROGTYPE=PM;ASSOCTYPE=Metafile,PIF file,,;ASSOCFILTER=*.MET,*.PIF,,;OBJECTID=<WP_PICV>"
  "PM_RunInstallProgram" "\os2\arcinst.exe" ""
END
CODEPAGE 437

STRINGTABLE REPLACEMODEOFF
BEGIN

  "PM_Colors"          "ActiveBorder"          "204 204 204"
  "PM_Colors"          "ActiveTitle"           " 43   0 170"
  "PM_Colors"          "ActiveTitleText"       "255 255 255"
  "PM_Colors"          "ActiveTitleTextBgnd"   " 43   0 170"
  "PM_Colors"          "AppWorkspace"          "204 204 204"
  "PM_Colors"          "Background"            " 43   0 170"
  "PM_Colors"          "ButtonDark"            "128 128 128"
  "PM_Colors"          "ButtonDefault"         "  0   0   0"
  "PM_Colors"          "ButtonLight"           "255 255 255"
  "PM_Colors"          "ButtonMiddle"          "204 204 204"
  "PM_Colors"          "DesktopBackgroundBitmap"       "c:\os2\bitmap\warpd.bmp,s,1"
  "PM_Colors"          "DesktopIconText"       "255 255 255"
  "PM_Colors"          "DesktopIconTextBackground"  " 43   0 170"
  "PM_Colors"          "DialogBackground"      "204 204 204"
  "PM_Colors"          "Display"               "VGAM"
  "PM_Colors"          "EntryField"            "255 255 255"
  "PM_Colors"          "FieldBackground"       "204 204 204"
  "PM_Colors"          "FolderIconTextBackground"   "T255 255 255"
  "PM_Colors"          "HelpBackground"        "255 255 255"
  "PM_Colors"          "HelpHilite"            "  0   0 255"
  "PM_Colors"          "HelpText"              "  0   0   0"
  "PM_Colors"          "HiliteBackground"      "128 128 128"
  "PM_Colors"          "HiliteForeground"      "255 255 255"
  "PM_Colors"          "IconText"              "  0   0   0"
  "PM_Colors"          "InactiveBorder"        "204 204 204"
  "PM_Colors"          "InactiveTitle"         "128 128 128"
  "PM_Colors"          "InactiveTitleText"     "204 204 204"
  "PM_Colors"          "InactiveTitleTextBgnd" "128 128 128"
  "PM_Colors"          "Menu"                  "204 204 204"
  "PM_Colors"          "MenuDisabledText"      "160 160 160"
  "PM_Colors"          "MenuHilite"            " 43   0 170"
  "PM_Colors"          "MenuHiliteText"        "255 255 255"
  "PM_Colors"          "MenuText"              "  0   0   0"
  "PM_Colors"          "OutputText"            "  0   0   0"
  "PM_Colors"          "PageBackground"        "255 255 255"
  "PM_Colors"          "Scrollbar"             "192 192 192"
  "PM_Colors"          "Shadow"                "128 128 128"
  "PM_Colors"          "ShadowHiliteBgnd"      "128 128 128"
  "PM_Colors"          "ShadowHiliteFgnd"      "255 255   0"
  "PM_Colors"          "ShadowText"            "182 182 182"
  "PM_Colors"          "TitleBottom"           "128 128 128"
  "PM_Colors"          "TitleText"             "255 255 255"
  "PM_Colors"          "Window"                "255 255 255"
  "PM_Colors"          "WindowFrame"           "128 128 128"
  "PM_Colors"          "WindowStaticText"      "  0   0 128"
  "PM_Colors"          "WindowText"            "  0   0   0"
  "PM_Colors"          "TitlebarTextFont"      "9.WarpSans Bold"
  "PM_Colors"          "MenuTextFont"          "9.WarpSans Bold"
  "PM_Colors"          "IconTextFont"          "9.WarpSans"
  "PM_Colors"          "WindowTextFont"        "9.WarpSans"
END

STRINGTABLE REPLACEMODE
BEGIN
  "PM_Default_Colors"  "ActiveBorder"          "204 204 204"
  "PM_Default_Colors"  "ActiveTitle"           " 43   0 170"
  "PM_Default_Colors"  "ActiveTitleText"       "255 255 255"
  "PM_Default_Colors"  "ActiveTitleTextBgnd"   " 43   0 170"
  "PM_Default_Colors"  "AppWorkspace"          "204 204 204"
  "PM_Default_Colors"  "Background"            " 43   0 170"
  "PM_Default_Colors"  "ButtonDark"            "128 128 128"
  "PM_Default_Colors"  "ButtonDefault"         "  0   0   0"
  "PM_Default_Colors"  "ButtonLight"           "255 255 255"
  "PM_Default_Colors"  "ButtonMiddle"          "204 204 204"
  "PM_Default_Colors"  "DesktopBackgroundBitmap"       "c:\os2\bitmap\warpd.bmp,s,1"
  "PM_Default_Colors"  "DesktopIconText"       "255 255 255"
  "PM_Default_Colors"  "DesktopIconTextBackground"  " 43   0 170"
  "PM_Default_Colors"  "DialogBackground"      "204 204 204"
  "PM_Default_Colors"  "EntryField"            "255 255 255"
  "PM_Default_Colors"  "FieldBackground"       "204 204 204"
  "PM_Default_Colors"  "FolderIconTextBackground"   "T255 255 255"
  "PM_Default_Colors"  "HelpBackground"        "255 255 255"
  "PM_Default_Colors"  "HelpHilite"            "  0   0 255"
  "PM_Default_Colors"  "HelpText"              "  0   0   0"
  "PM_Default_Colors"  "HiliteBackground"      "128 128 128"
  "PM_Default_Colors"  "HiliteForeground"      "255 255 255"
  "PM_Default_Colors"  "IconText"              "  0   0   0"
  "PM_Default_Colors"  "InactiveBorder"        "204 204 204"
  "PM_Default_Colors"  "InactiveTitle"         "128 128 128"
  "PM_Default_Colors"  "InactiveTitleText"     "204 204 204"
  "PM_Default_Colors"  "InactiveTitleTextBgnd" "128 128 128"
  "PM_Default_Colors"  "Menu"                  "204 204 204"
  "PM_Default_Colors"  "MenuDisabledText"      "160 160 160"
  "PM_Default_Colors"  "MenuHilite"            " 43   0 170"
  "PM_Default_Colors"  "MenuHiliteText"        "255 255 255"
  "PM_Default_Colors"  "MenuText"              "  0   0   0"
  "PM_Default_Colors"  "OutputText"            "  0   0   0"
  "PM_Default_Colors"  "PageBackground"        "255 255 255"
  "PM_Default_Colors"  "Scrollbar"             "192 192 192"
  "PM_Default_Colors"  "Shadow"                "128 128 128"
  "PM_Default_Colors"  "ShadowHiliteBgnd"      "128 128 128"
  "PM_Default_Colors"  "ShadowHiliteFgnd"      "255 255   0"
  "PM_Default_Colors"  "ShadowText"            "182 182 182"
  "PM_Default_Colors"  "TitleBottom"           "128 128 128"
  "PM_Default_Colors"  "TitleText"             "255 255 255"
  "PM_Default_Colors"  "Window"                "255 255 255"
  "PM_Default_Colors"  "WindowFrame"           "128 128 128"
  "PM_Default_Colors"  "WindowStaticText"      "  0   0 128"
  "PM_Default_Colors"  "WindowText"            "  0   0   0"
  "PM_Default_Colors"  "TitlebarTextFont"      "9.WarpSans Bold"
  "PM_Default_Colors"  "MenuTextFont"          "9.WarpSans Bold"
  "PM_Default_Colors"  "IconTextFont"          "9.WarpSans"
  "PM_Default_Colors"  "WindowTextFont"        "9.WarpSans"

  "PM_DISPLAYDRIVERS"      "IBMVGA32"           "IBMVGA32"
  "PM_DISPLAYDRIVERS"      "CURRENTDRIVER"      "IBMVGA32"
  "PM_DISPLAYDRIVERS"      "DEFAULTDRIVER"      "IBMVGA32"
  ""                       ""                   ""
END
